@use './colors'

.artifact-header
    display: flex
    flex-direction: row
    align-items: center

.artifact-copy
    width: 75%
    padding: 2em

.artifact-details
    margin:
        bottom: 2em

p
    font-size: 0.9em
    margin: 0

.artifact-title
    font-size: 3rem
    margin: .5em 0

.artifact-title span 
    font-weight: 100

.meta-title
    font-size: 1.7rem

.spline-container
    width: 90%
    height: auto

.media-container
    width: 75%
    padding: 2em
    margin: 
        top: 0
        left: 3em
        right: 3em
        bottom: 3em
    .media
        width: 75%
        height: auto
