@use './colors'

// GLOBAL

*
    box-sizing: border-box

body
    font-family: sans-serif
    color: colors.$text
    font-weight: bold

#header
    position: fixed
    top: 0
    width: 100%
    // background-color: #d9d9d9d6
    padding: 0

#header nav
    width: 100%

#header nav #myMenu
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-end
    li
        margin: .5em
            right: 3em
        text-decoration: none
        list-style: none
        font-size: 1.5em
        a
            text-decoration: none
            color: colors.$text
                
// .page-title
//     font-size: 2.25em
//     transform: rotate(-90deg)

li
    list-style-type: none

.slide
    margin-top: 2em
    display: flex
    align-items: center

.cta-button
    width: 9em
    padding: .5em 1.25em
    margin: 2em 0
    text-align: center
    border-radius: 100px
    background-color: colors.$button-background
    color: #FFF

p
    line-height: 1.5

// FOO STYLES

.foo:has(.foo-but-pos)
    margin-top: 5em // give room for the button to be above the rest

.foo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 120px
        top: 3em
        bottom: 0
    .page-title
        font-size: 2.25em
        writing-mode: vertical-lr
        height: max-content
        transform: rotate(180deg)
        margin: 0
    h3
        font-size: 2.5em
    .foo-main
        display: flex
        justify-content: space-between
        margin: auto
        max-width: 1350px
        width: 100%
        &>div
            margin:
                left: 4em
        .foo-row
            display: flex
        .foo-col
            display: flex
            flex-direction: column
        .foo-desc
            font-size: 1.1em
            width: 100%
            position: relative // for foo-but-pos
            .foo-name
                margin: 0
            h3
                margin-bottom: 0
        img.foo-portrait
            height: 20em
            aspect-ratio: 1
            border-radius: 50%
            object-fit: cover
            filter: drop-shadow( 0 0 15px colors.$enthusiast )

.foo-but
    width: 7em
    padding: .5em 1.25em
    background-color: #333
    color: #fff
    border-radius: 20px
    text-align: center
    cursor: pointer
    &:hover, &:focus
        background-color: #555
    &.foo-but-pos
        position: absolute
        top: -1em
        transform: translateY(-100%)

// INDEX STYLES

// #fp-nav, .fp-slidesNav
//     ul
//         li:nth-child(1) a.active span
//             background: colors.$developer
//         li:nth-child(2) a.active span
//             background: colors.$designer
//         li:nth-child(3) a.active span
//             background: colors.$enthusiast
//         li a span
//             box-shadow: 0px 1px 3px #00000075

#fp-nav, .fp-slidesNav
    $nav-colors: ( 1: colors.$developer, 2: colors.$designer, 3: colors.$enthusiast )
    ul
        @each $index, $color in $nav-colors
            li:nth-child(#{$index}) a.active span
                background: $color
        li a span
            box-shadow: 0px 1px 3px #00000075

#fp-nav ul li .fp-tooltip
    color: colors.$text

.fp-arrow.fp-prev
    border-width: 38.5px 34px 38.5px 0
    border-color: transparent colors.$enthusiast transparent transparent

.fp-arrow.fp-next
    border-width: 38.5px 0 38.5px 34px
    border-color: transparent transparent transparent colors.$enthusiast


.homepage-banner
    margin-bottom: 0
    font-size: 7rem
    color: colors.$text
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.292))

// .index-panel
//     position: absolute
//     width: 35%
//     left: 0
//     top: 0
//     bottom: 0

.index
    display: flex
    align-items: center
    flex-direction: column
    width: 100%

.spline-holder
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    overflow: hidden
    .inner-spline-holder
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0

// PROJECTS STYLES

.projects
    display: flex
    margin: 4em
        bottom: 0

.projects-group 
    display: flex
    justify-content: space-between
    flex: 1

.project-column
    flex: 1
    padding: 1em

.project-card
    width: 11em
    padding: 20px
    border-radius: 20px
    margin: 
        bottom: 1em
    h3
        text-align: center
        margin:
            bottom: .25em

// SKILLS STYLES    
.skills-lists
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    gap: 4em
    // TODO: make it wrap in groups of 2
    // one way to do that would be to wrap pairs in containers
    ul
        padding-inline-start: 0

// ABOUT ME STYLES

.about-me-circles
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin:
        top: 3em
        bottom: 3em
    gap: 6em
    .about-me-circle
        display: flex
        align-items: center
        justify-content: center
        width: 20rem
        aspect-ratio: 1
        border-radius: 50%
        padding: 1em
        font-size: 2.5em
        &.about-me-community-circle
            background-color: colors.$developer
            box-shadow: 10px 10px 30px scale-color(colors.$developer, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color(colors.$developer, $saturation: -60%, $lightness: 90%)
        &.about-me-fluidity-circle
            background-color: colors.$designer
            box-shadow: 10px 10px 30px scale-color(colors.$designer, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color(colors.$designer, $saturation: -60%, $lightness: 90%)
        &.about-me-leadership-circle
            background-color: colors.$enthusiast
            box-shadow: 10px 10px 30px scale-color(colors.$enthusiast, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color(colors.$enthusiast, $saturation: -60%, $lightness: 90%)

// SIDE BAR STYLES

.social-sidebar
    position: fixed
    top: 80%
    transform: translateY(-50%)
    z-index: 1000
    a
        text-decoration: none
    .social-icon
        display: block
        padding:
            top: .5em
            bottom: .5em
            left: 2em
            right: 2em
        text-align: center
        .fa-linkedin
            transition: color 0.1s ease
            &:hover
                color: #0291fe
