@use './colors'

// GLOBAL

*
    box-sizing: border-box

body
    font-family: sans-serif
    color: colors.$text
    font-weight: bold

#header
    position: fixed
    top: 0
    width: 100%
    // background-color: #d9d9d9d6
    padding: 0

#header nav
    display: flex
    width: 100%

#header nav #myMenu
    display: flex
    flex-direction: row
    width: 100%
    justify-content: flex-end
    li
        margin: .5em
        right: 3em
        text-decoration: none
        list-style: none
        font-size: 1.125em
        a
            text-decoration: none
            color: colors.$text
    @media screen and (max-width: 530px )
        font-size: 0.75em
    @media screen and (max-width: 405px )
        font-size: 0.6em   
// do i even need the one above??
li
    list-style-type: none

a
    text-decoration: none
    color: unset

.cta-button
    width: 9em
    padding: .5em 1.25em
    margin: 2em 0
    text-align: center
    border-radius: 100vmax
    background-color: colors.$button-background
    color: #FFF

.neu-button
    padding: .75em
    border-radius: 100vmax
    background: #f6fcff
    box-shadow: 4px 4px 10px #cdcdcd, -4px -4px 10px #ffffff

p
    line-height: 1.5

.logo
    width: auto
    height: 5em
    @media screen and (max-width: 530px )
        height: 3em
    @media screen and (max-width: 405px )
        height: 2em   
// FOO STYLES.

.fh-section > div
    height: 100vh

.safe-section > div
    padding-top: calc(84px + 1em)
    padding-bottom: 3em

.foo:has(.foo-but-pos)
    margin-top: 5em // give room for the button to be above the rest

.foo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 0.7em
    margin: 120px
    top: 0
    bottom: 0
    .foo-hlimit
        max-height: 700px
    .foo-fh, &.foo-fh
        height: 100%
        margin:
            top: 0
            bottom: 0
    &.foo-fh
        // padding:
        //     top: 10em
        //     bottom: 5em
        .page-title
            padding-bottom: 1em
    .page-title
        font-size: 2.25em
        writing-mode: vertical-lr
        height: max-content
        transform: rotate(180deg)
        margin: 0
    h3
        font-size: 2.5em
    .foo-main
        display: flex
        justify-content: space-between
        margin: auto
        max-width: 1012.5px
        width: 100%
        &>div
            margin:
                left: 4em
        .foo-row
            display: flex
        .foo-col
            display: flex
            flex-direction: column
        .foo-desc
            font-size: 1.1em
            width: 100%
            position: relative // for foo-but-pos
            .foo-name
                margin: 0
            h3
                margin-bottom: 0
        img.foo-portrait
            height: 20em
            aspect-ratio: 1
            border-radius: 50%
            object-fit: cover
            filter: drop-shadow( 0 0 15px colors.$enthusiast )

.foo-but
    width: 7em
    padding: .5em 1.25em
    background-color: #333
    color: #fff
    border-radius: 15px
    text-align: center
    cursor: pointer
    &:hover, &:focus
        background-color: #555
    &.foo-but-pos
        position: absolute
        top: -1em
        transform: translateY(-100%)

// INDEX STYLES

// #fp-nav, .fp-slidesNav
//     ul
//         li:nth-child(1) a.active span
//             background: colors.$developer
//         li:nth-child(2) a.active span
//             background: colors.$designer
//         li:nth-child(3) a.active span
//             background: colors.$enthusiast
//         li a span
//             box-shadow: 0px 1px 3px #00000075

#fp-nav, .fp-slidesNav
    $nav-colors: ( 1: colors.$developer, 2: colors.$designer, 3: colors.$enthusiast )
    ul
        @each $index, $color in $nav-colors
            li:nth-child(#{$index}) a.active span
                background: $color
        li a span
                box-shadow: 0px 1px 3px #00000075

#fp-nav ul li .fp-tooltip
    color: colors.$text

.fp-arrow.fp-prev
    border-width: 38.5px 34px 38.5px 0
    border-color: transparent colors.$enthusiast transparent transparent

.fp-arrow.fp-next
    border-width: 38.5px 0 38.5px 34px
    border-color: transparent transparent transparent colors.$enthusiast

.homepage-banner
    margin-bottom: 0
    font-size: 5.2rem
    color: colors.$text
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.292))
    @media screen and ( max-width: 560px )
        font-size: 4rem
    @media screen and ( max-width: 430px )
        font-size: 3rem
    @media screen and ( max-width: 350px )
        font-size: 2rem
        
// .index-panel
//     position: absolute
//     width: 35%
//     left: 0
//     top: 0
//     bottom: 0

.index
    display: flex
    align-items: center
    flex-direction: column
    width: 100%

.spline-holder
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    overflow: hidden
    // .inner-spline-holder
    //     position: absolute
    //     top: 0
    //     bottom: 0
    //     right: 0
    //     left: 0

// PROJECTS STYLES

.projects-group
    display: flex
    justify-content: space-between
    gap: 5em

.project-column
    display: flex
    flex-direction: column
    height: 100%

.project-card
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    max-width: 30em
    padding: 15px
    border-radius: 15px
    background: #fafafa
    box-shadow: 10px 10px 23px #cdcdcd, -10px -10px 23px #ffffff
    margin:
        bottom: 2em
    h3
        text-align: center
        margin:
            bottom: .25em

// SKILLS STYLES    
.skills-lists
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    gap: 4em
    // TODO: make it wrap in groups of 2
    // one way to do that would be to wrap pairs in containers
    ul
        padding-inline-start: 0
    h4
        display: none
    @media (max-width: 578px)
        i
            display: none // hide the icons except...
        h4
            display: unset
            i
                display: unset // we actually do want to display the i tags in the h4
        ul:not(.show)
            display: none

// ABOUT ME STYLES

.about-me-circles
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin:
        top: 3em
        bottom: 3em
    gap: 6em
    .about-me-circle
        display: flex
        align-items: center
        justify-content: center
        width: 15rem
        aspect-ratio: 1
        border-radius: 50%
        padding: 1em
        font-size: 1.9em
        &.about-me-community-circle
            background-color: colors.$developer
            box-shadow: 10px 10px 30px scale-color(colors.$developer, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color(colors.$developer, $saturation: -60%, $lightness: 90%)
        &.about-me-fluidity-circle
            background-color: colors.$designer
            box-shadow: 10px 10px 30px scale-color(colors.$designer, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color(colors.$designer, $saturation: -60%, $lightness: 90%)
        &.about-me-leadership-circle
            background-color: colors.$enthusiast
            box-shadow: 10px 10px 30px scale-color(colors.$enthusiast, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color(colors.$enthusiast, $saturation: -60%, $lightness: 90%)

// Define a mixin for the box shadow
=box-shadow-styles($shadow-color)
    // $dark-shadow:
    box-shadow: 10px 10px 30px scale-color($shadow-color, $saturation: -80%, $lightness: -10%), -10px -10px 30px scale-color($shadow-color, $saturation: -60%, $lightness: 90%)

// Usage example
.about-me-community-circle
    +box-shadow-styles(colors.$developer)

.about-me-fluidity-circle
    +box-shadow-styles(colors.$designer)

.about-me-leadership-circle
    +box-shadow-styles(colors.$enthusiast)

// SIDE BAR STYLES

.social-sidebar
    position: fixed
    top: 80%
    transform: translateY(-50%)
    z-index: 1000
    font-size: 0.75em
    a
        text-decoration: none
    .social-icon
        display: block
        padding:
            top: .25em
            bottom: .25em
            left: 2em
            right: 2em
        text-align: center
        .fa-linkedin
            color: #74C0FC
            // transition: color 0.1s ease
            &:hover
                color: #1f97f3
        .fa-square-github
            color: #e6befd
            &:hover
                color: #d493f9
        .fa-square-instagram
            color: #b1e4f9
            &:hover
                color: #8ddbf9
        .fa-square-envelope
            color: #fadda4
            &:hover
                color: #ffd37a

@media (width < 740px)
    .foo
        margin:
            left: 60px
            right: 60px
        .foo-main > div
            margin-left: 0

@media (width < 400px)
    #header nav #myMenu
        display: none

    .social-sidebar
        display: none

    .foo
        margin:
            left: 0
            right: 0
        .foo-main > div
            margin-left: 0
