@use './colors'
// fix the fact that the text isn't centered 
// fix looping skipping?
#container
    color: #999
    text-transform: uppercase
    font-size: 3rem
    font-weight: bold
    width: 100%
    bottom: 50%
    margin:
        top: .5em

#flip
    height: 70px
    overflow: hidden

#flip > div > div
    color: #444343
    padding: 4px 12px
    height: 45px
    margin-bottom: 45px
    display: inline-block
    border-radius: 100px

#flip div:first-child
    animation: show 5s linear infinite

#flip div div
    backdrop-filter: blur( 6px )
    -webkit-backdrop-filter: blur( 6px )
    box-shadow: 0px 0px 9px 0px colors.$designer inset

#flip div:first-child div
    backdrop-filter: blur( 6px )
    -webkit-backdrop-filter: blur( 6px )
    box-shadow: 0px 0px 9px 0px colors.$developer inset

#flip div:last-child div
    backdrop-filter: blur( 6px )
    -webkit-backdrop-filter: blur( 6px )
    box-shadow: 0px 0px 9px 0px colors.$enthusiast inset

@keyframes show
    0%
        margin-top:-270px
    5%
        margin-top:-180px
    33%
        margin-top:-180px
    38%
        margin-top:-90px
    66%
        margin-top:-90px
    71%
        margin-top:0px
    99.99%
        margin-top:0px
    100%
        margin-top:-270px
