.arrow
    display: inline-block
    border-left: 5px solid #333
    border-bottom: 5px solid #333
    transform: rotate(-45deg)
    
.home-arrow
    bottom: 3em
    width: 2em
    height: 2em
    position: absolute

.project-arrow
    bottom: 1em
    width: 1em
    height: 1em

.arrow-bounce
    animation: bounce 2s infinite

@keyframes bounce 
    0%, 20%, 50%, 80%, 100% 
        transform: translateY(0) rotate(-45deg)
    
    40% 
        transform: translateY(10px) rotate(-45deg)
    
    60% 
        transform: translateY(5px) rotate(-45deg)
    
